.main{

}

.title {
    text-align: center;
}

.formated-list{
    list-style: none;

    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
}

.formated-list__item{

    margin-top: 20px;
}

.formated-list__link{
    color: green;
    font-family: Segoe UI sans-serif;
    font-size: 24px;
    transition: color 0.3s;
}

.formated-list__link:link{
    text-decoration: none;
}
.formated-list__link:visited{
    color: darkgreen;
}
.formated-list__link:hover{
    color: lightgreen;
}
